# https://help.github.com/en/articles/about-code-owners

* @kufu/group-dev-tamatebako-reviewers
/packages/eslint-config-smarthr/ @kufu/group-dev-front-linter-reviewers
/packages/eslint-plugin-smarthr/ @kufu/group-dev-front-linter-reviewers
