
name: lint

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    name: Node.js ubuntu-latest 20.x
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
    - name: pnpm install, and pnpm lint
      run: |
        corepack enable && corepack prepare --activate
        pnpm install
        pnpm lint
      env:
        CI: true
